<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="upperPage">
            <img src="/assets/img/burgerLogo.png" alt="da burger" class="image-responsive center-block">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center" class="task">
            <h1>EAT. DA. BURGER.</h1>
        </div>
    </div>

    <div class="row"> 
        <div class="col-md-6">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <form>
                    <div class="undevoured">
                        <li class="form-control">
                            {{id}}.
                            {{burger_name}}
                        </li>
                        <span class="input-group-button">
                            <button class="devourButton btn-primary btn-lg" data-id="{{id}}">DEVOUR DA BURGER</button>
                        </span>
                    </div>
                </form>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                     <form>
                    <div class="undevoured">
                        <li class="form-control">
                            {{id}}.
                            {{burger_name}}
                        </li>
                        <span class="input-group-button">
                            <button class="btn-primary btn-lg regergitateButton">UNDEVOUR DA BURGER</button>
                        </span>
                    </div>
                </form>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <form id="addBurgerForm">
                <div class="form-group">
                    <textarea id="newBurger" name="newBurger" cols="25" rows="3"></textarea>
                </div>
                <button class="btn-danger btn-lg" type="submit" id="submitButton">ADD DA BURGER!</button>
            </form>
        </div>
        <h5 class="text-center" id="instruction">Add your own burger by entering its name into the text area, and then clicking 'ADD DA BURGER' button</h5>
    </div>
</div>